.section-prices__cards{
  display: flex;
  flex-direction: row;
  margin-top: 3rem;
  justify-content: center;
}


// Card izquierda
.section-prices__cards-left{
  height: 28rem;
  width: 21rem;
  background-color: $white;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin: 1rem;

}

// Card derecha
.section-prices__cards-right{
  height: 28rem;
  width: 21rem;
  background-color: $white;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin: 1rem;

}


//estado card hover
.section-prices__cards-left:hover{
  -webkit-box-shadow: 7px 13px 14px -1px rgba(0,0,0,0.7);
  -moz-box-shadow: 7px 13px 14px -1px rgba(0,0,0,0.7);
  box-shadow: 7px 13px 14px -1px rgba(0,0,0,0.7);
}
.section-prices__cards-right:hover{
  -webkit-box-shadow: 7px 13px 14px -1px rgba(0,0,0,0.7);
  -moz-box-shadow: 7px 13px 14px -1px rgba(0,0,0,0.7);
  box-shadow: 7px 13px 14px -1px rgba(0,0,0,0.7);
}


// Contenido de cards
.cards__container{
display: flex;
flex-direction: column;
flex-grow: 1;
padding-top: 3rem;
}

.cards__container h3{
  padding-left: 1.8rem;
}

.cards__container h1{
  padding-left: 1.8rem;
}

.cards__list{
  padding-left: 3rem;
  padding-top: 1rem;
}

.cards__list li{
  margin-top: 8px;
}

.cards__line-2{
  padding-left: 3rem;
  padding-right: 3rem;
  margin-left: 1.8rem;
  margin-right: 1.8rem;
  padding-bottom: 0;
}

.cards__line-1{
  padding-left: 3rem;
  padding-right: 3rem;
  margin-left: 1.8rem;
  margin-right: 1.8rem;
  margin-top: 1.5rem;
}

// Mediaqueries para cards en columnas
@media (max-width: 768px) {
  .section-prices__cards {
   flex-direction: column;
  }
  .section-prices__cards-left {
   width: 18rem;
  }
  .section-prices__cards-right {
   width: 18rem;
  }
}
