// Tipografias nav
.navigation__item {
  font-family: $raleway;
  font-size: $small;
  font-weight: $bold;
  color: $raising-black;
}

.navigation__button {
  font-family: $raleway;
  font-size: $small;
  font-weight: $bold;
}

// Tipografias header
.header__info-title {
  font-family: $raleway;
  font-size: $xxxx-large;
  font-weight: $bold;
  color: $raising-black;
}

.header__info-text {
  font-family: $raleway;
  font-size: $medium;
  font-weight: $regular;
  color: $raising-black;
  line-height: 16pt;
}

// Mediaqueries tipografias header
@media (max-width: 768px) {
  .header__info-text {
   font-size: $small;
 }
 .header__info-title {
   font-size: $xx-large;
 }
}


// Tipografias main
.section-features__title, .section-prices__title{
  font-family: $raleway;
  font-size: $xx-large;
  font-weight: $bold;
}

.section-features__info-title{
  font-family: $raleway;
  font-size: $x-large;
  font-weight: $bold;
}

.section-features__info-text{
  font-family: $raleway;
  font-size: $medium;
  font-weight: $regular;
  color: $raising-black;
  line-height: 16pt;
}

// Mediaqueries tipografias secciones
@media (max-width: 768px) {
  .section-features__title, .section-prices__title {
   font-size: $x-large;
 }
   .section-features__info-text {
    font-size: $small;
  }
    .section-features__info-title {
     font-size: $large;
   }
}



// Tipografias Cards

.section-prices__button{
  font-family: $raleway;
  font-size: $small;
  font-weight: $bold;
  color: $white;
}

.cards__list{
  font-family: $raleway;
  font-size: $medium;
  font-weight: $regular;
  color: $raising-black;
}

.cards__container h3{
  font-family: $open-sans;
  font-size: $large;
  font-weight: $regular;
  color: $raising-black;
}

.cards__container h1{
  font-family: $raleway;
  font-size: $xxx-large;
  font-weight: $bold;
  color: $raising-black;
}

// Mediaqueries tipografias cards
@media (max-width: 768px) {
  .cards__list {
    font-size: $small;
  }
  .cards__container h1 {
   font-size: $x-large;
  }
  .cards__container h3 {
    font-size: $medium;
  }
}
// Tipografias footer

.footer__item-1, .footer__item-2, .footer__item-3, .footer__item-4,{
  font-family: $raleway;
  font-size: $small;
  font-weight: $regular;
  color: $white;
}
