@media (max-width: 768px) {
  .navigation__item, .navigation__button {
    display: none;
  }
}
@media (min-width: 768px) {
  .navigation__hamburger {
    display: none;
  }
}
* {
  margin: 0;
  padding: 0;
  border: 0;
}

.navigation__item {
  font-family: "Raleway", sans-serif;
  font-size: 14px;
  font-weight: 700;
  color: #221D23;
}

.navigation__button {
  font-family: "Raleway", sans-serif;
  font-size: 14px;
  font-weight: 700;
}

.header__info-title {
  font-family: "Raleway", sans-serif;
  font-size: 45px;
  font-weight: 700;
  color: #221D23;
}

.header__info-text {
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #221D23;
}

.section-features__title, .section-prices__title {
  font-family: "Raleway", sans-serif;
  font-size: 35px;
  font-weight: 700;
}

.section-features__info-title {
  font-family: "Raleway", sans-serif;
  font-size: 30px;
  font-weight: 700;
}

.section-features__info-text {
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #221D23;
}

.section-prices__button {
  font-family: "Raleway", sans-serif;
  font-size: 14px;
  font-weight: 700;
  color: #FFF;
}

.cards__list {
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #221D23;
}

.cards__container h3 {
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
  font-weight: 400;
  color: #221D23;
}

.cards__container h1 {
  font-family: "Raleway", sans-serif;
  font-size: 40px;
  font-weight: 700;
  color: #221D23;
}

.navigation {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  height: 5rem;
}

.navigation__logo {
  height: 55%;
  margin-left: 5rem;
  margin-top: 0.5rem;
}

.navigation__menu {
  display: flex;
  flex-grow: 1;
}

.navigation__button {
  margin-right: 4rem;
  margin-top: 1.5rem;
}

.navigation__item {
  margin-left: 2rem;
  margin-top: 1.5rem;
}

.navigation__buttom-white {
  margin-right: 1rem;
  color: #221D23;
}

a {
  text-decoration: none;
}

.navigation__hamburger {
  margin-top: 1rem;
  margin-left: 10rem;
}

.header {
  background-image: url("../img/bg-hero.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 50rem;
  width: 100%;
}

.header__info {
  display: flex;
  flex-direction: column;
  width: 25rem;
  padding-top: 5rem;
  padding-left: 5rem;
}

.header__info-text {
  margin-top: 0.5rem;
}

.section-features__title {
  text-align: center;
}

.section-features {
  padding-bottom: 1rem;
}

.section-features__container {
  display: flex;
  flex-direction: row;
  padding-top: 4rem;
  justify-content: center;
}

.section-features__info {
  display: flex;
  flex-direction: column;
  width: 25rem;
  margin: 3rem;
  padding-top: 4rem;
}

.section-features__info-text {
  margin-top: 0.5rem;
}

.section-features__graphic {
  margin: 3rem;
}

.section-prices {
  background-image: url("../img/bg-price.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 50rem;
  width: 100%;
  margin-top: 6rem;
}

.section-prices__title {
  text-align: center;
  padding-top: 12rem;
  color: #FFF;
}

.footer {
  height: 7rem;
  background-color: #221D23;
  color: #FFF;
}

.navigation__buttom-blue {
  background-color: #2AB7CA;
  color: #FFF;
  padding: 0.6rem;
}

.navigation__buttom-blue:hover {
  background-color: #77D1DD;
}

.navigation__buttom-blue:focus {
  background-color: #AEACAF;
}

.section-prices__button {
  background-color: #2AB7CA;
  color: #FFF;
  margin: 1.8rem;
  padding: 0.8rem 1.5rem;
  text-align: center;
}

.section-prices__button:hover {
  background-color: #77D1DD;
}

.section-prices__button:focus {
  background-color: #AEACAF;
}

.section-prices__cards {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 4rem;
  margin-top: 3rem;
}

.section-prices__cards-left {
  height: 28rem;
  width: 21rem;
  background-color: #FFF;
  margin-left: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.section-prices__cards-right {
  height: 28rem;
  width: 21rem;
  background-color: #FFF;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.cards__container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding-top: 3rem;
}

.cards__container h3 {
  padding-left: 1.8rem;
}

.cards__container h1 {
  padding-left: 1.8rem;
}

.cards__list {
  padding-left: 3rem;
  padding-top: 1rem;
}

.cards__list li {
  margin-top: 8px;
}

.cards__line-2 {
  padding-left: 3rem;
  padding-right: 3rem;
  margin-left: 1.8rem;
  margin-right: 1.8rem;
  padding-bottom: 0;
}

.cards__line-1 {
  padding-left: 3rem;
  padding-right: 3rem;
  margin-left: 1.8rem;
  margin-right: 1.8rem;
  margin-top: 1.5rem;
}

/*# sourceMappingURL=main.css.map */
