@media (max-width: 768px) {
  .navigation__item, .navigation__button {
    display: none;
  }
}
@media (min-width: 768px) {
  .navigation__hamburger {
    display: none;
  }
}
@keyframes opacity {
  5% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
* {
  margin: 0;
  padding: 0;
  border: 0;
}

.navigation__item {
  font-family: "Raleway", sans-serif;
  font-size: 14px;
  font-weight: 700;
  color: #221D23;
}

.navigation__button {
  font-family: "Raleway", sans-serif;
  font-size: 14px;
  font-weight: 700;
}

.header__info-title {
  font-family: "Raleway", sans-serif;
  font-size: 45px;
  font-weight: 700;
  color: #221D23;
}

.header__info-text {
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #221D23;
  line-height: 16pt;
}

@media (max-width: 768px) {
  .header__info-text {
    font-size: 14px;
  }

  .header__info-title {
    font-size: 35px;
  }
}
.section-features__title, .section-prices__title {
  font-family: "Raleway", sans-serif;
  font-size: 35px;
  font-weight: 700;
}

.section-features__info-title {
  font-family: "Raleway", sans-serif;
  font-size: 30px;
  font-weight: 700;
}

.section-features__info-text {
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #221D23;
  line-height: 16pt;
}

@media (max-width: 768px) {
  .section-features__title, .section-prices__title {
    font-size: 30px;
  }

  .section-features__info-text {
    font-size: 14px;
  }

  .section-features__info-title {
    font-size: 20px;
  }
}
.section-prices__button {
  font-family: "Raleway", sans-serif;
  font-size: 14px;
  font-weight: 700;
  color: #FFF;
}

.cards__list {
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #221D23;
}

.cards__container h3 {
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
  font-weight: 400;
  color: #221D23;
}

.cards__container h1 {
  font-family: "Raleway", sans-serif;
  font-size: 40px;
  font-weight: 700;
  color: #221D23;
}

@media (max-width: 768px) {
  .cards__list {
    font-size: 14px;
  }

  .cards__container h1 {
    font-size: 30px;
  }

  .cards__container h3 {
    font-size: 16px;
  }
}
.footer__item-1, .footer__item-2, .footer__item-3, .footer__item-4 {
  font-family: "Raleway", sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: #FFF;
}

.navigation {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  height: 4rem;
  width: 100%;
}

.navigation__logo {
  height: 55%;
  margin-left: 5rem;
  margin-top: 0.5rem;
}

.navigation__menu {
  display: flex;
  flex-grow: 1;
}

.navigation__button {
  margin-right: 4rem;
  margin-top: 1.5rem;
}

.navigation__item {
  margin-left: 2rem;
  margin-top: 1.5rem;
}

.navigation__buttom-white {
  margin-right: 1rem;
  color: #221D23;
}

a {
  text-decoration: none;
}

.navigation__hamburger {
  margin-top: 1rem;
  margin-left: 10rem;
}

@media (max-width: 768px) {
  .navigation__hamburger {
    margin-right: 5rem;
  }

  .navigation__logo {
    margin-top: 0.8rem;
    padding: 0;
    width: 4rem;
  }
}
.header {
  background-image: url("../img/bg-hero.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 50rem;
  width: 100%;
}

.header__info {
  display: flex;
  flex-direction: column;
  width: 25rem;
  padding-top: 8rem;
  padding-left: 5rem;
}

.header__info-text {
  margin-top: 0.5rem;
}

@media (max-width: 768px) {
  .header {
    height: 15rem;
    margin-top: 12rem;
    margin-bottom: 4rem;
  }

  .header__info {
    width: 15rem;
    padding-left: 2.5rem;
    padding-top: 0rem;
    margin-top: 0rem;
    position: absolute;
    top: 100px;
  }
}
.section-features__title {
  text-align: center;
}

.section-features {
  padding-bottom: 1rem;
  width: 100%;
}

.section-features__container {
  display: flex;
  flex-direction: row;
  padding-top: 4rem;
  justify-content: center;
}

.section-features__info {
  padding-top: 6rem;
  width: 25rem;
  margin-left: 3rem;
  position: relative;
}

.section-features__info-text {
  margin-top: 0.5rem;
}

.section-features__graphic {
  margin: 3rem;
}

@media (max-width: 768px) {
  .section-features {
    padding-bottom: 0rem;
  }

  .section-features__container {
    flex-direction: column;
  }

  .section-features__info {
    padding-top: 0.3rem;
    padding-bottom: 0;
    width: auto;
  }

  svg {
    margin: auto;
  }

  .section-features__graphic {
    margin-left: 1rem;
    margin-bottom: 2rem;
  }
}
.section-prices {
  background-image: url("../img/bg-price.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 50rem;
  width: 100%;
  margin-top: 6rem;
}

.section-prices__title {
  text-align: center;
  padding-top: 12rem;
  color: #FFF;
}

@media (max-width: 768px) {
  .section-prices {
    height: 85rem;
    margin-top: 0;
  }

  .section-prices__title {
    padding-bottom: 0rem;
    padding-top: 16rem;
  }
}
.footer {
  height: 6rem;
  background-color: #221D23;
  width: 100%;
}

.footer_container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-gap: 1rem;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  padding-top: 3rem;
  flex-wrap: wrap;
  width: 100%;
}

.footer__item-1 {
  grid-column: 2/3;
}

.footer__item-2 {
  grid-column: 3/4;
}

.footer__item-3 {
  grid-column: 4/6;
}

.footer__item-4 {
  grid-column: 10/12;
}

@media (max-width: 768px) {
  .footer_container {
    grid-template-columns: repeat(3, auto);
    grid-auto-rows: minmax(3rem, auto);
    grid-gap: 0;
    box-sizing: border-box;
    padding-top: 0rem;
    margin: 0;
    width: auto;
  }

  .footer__item-1 {
    grid-column: 1;
  }

  .footer__item-2 {
    grid-column: 2;
  }

  .footer__item-3 {
    grid-column: 3;
  }

  .footer__item-4 {
    grid-column: 1/3;
    padding-left: 4rem;
  }
}
.navigation__buttom-blue {
  background-color: #2AB7CA;
  color: #FFF;
  padding: 0.6rem;
}

.navigation__buttom-blue:hover {
  background-color: #77D1DD;
}

.navigation__buttom-blue:focus {
  background-color: #AEACAF;
}

.section-prices__button {
  background-color: #2AB7CA;
  color: #FFF;
  margin: 1.8rem;
  padding: 0.8rem 1.5rem;
  text-align: center;
}

.section-prices__button:hover {
  background-color: #77D1DD;
}

.section-prices__button:focus {
  background-color: #AEACAF;
}

.section-prices__cards {
  display: flex;
  flex-direction: row;
  margin-top: 3rem;
  justify-content: center;
}

.section-prices__cards-left {
  height: 28rem;
  width: 21rem;
  background-color: #FFF;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin: 1rem;
}

.section-prices__cards-right {
  height: 28rem;
  width: 21rem;
  background-color: #FFF;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin: 1rem;
}

.section-prices__cards-left:hover {
  -webkit-box-shadow: 7px 13px 14px -1px rgba(0, 0, 0, 0.7);
  -moz-box-shadow: 7px 13px 14px -1px rgba(0, 0, 0, 0.7);
  box-shadow: 7px 13px 14px -1px rgba(0, 0, 0, 0.7);
}

.section-prices__cards-right:hover {
  -webkit-box-shadow: 7px 13px 14px -1px rgba(0, 0, 0, 0.7);
  -moz-box-shadow: 7px 13px 14px -1px rgba(0, 0, 0, 0.7);
  box-shadow: 7px 13px 14px -1px rgba(0, 0, 0, 0.7);
}

.cards__container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding-top: 3rem;
}

.cards__container h3 {
  padding-left: 1.8rem;
}

.cards__container h1 {
  padding-left: 1.8rem;
}

.cards__list {
  padding-left: 3rem;
  padding-top: 1rem;
}

.cards__list li {
  margin-top: 8px;
}

.cards__line-2 {
  padding-left: 3rem;
  padding-right: 3rem;
  margin-left: 1.8rem;
  margin-right: 1.8rem;
  padding-bottom: 0;
}

.cards__line-1 {
  padding-left: 3rem;
  padding-right: 3rem;
  margin-left: 1.8rem;
  margin-right: 1.8rem;
  margin-top: 1.5rem;
}

@media (max-width: 768px) {
  .section-prices__cards {
    flex-direction: column;
  }

  .section-prices__cards-left {
    width: 18rem;
    margin: auto;
  }

  .section-prices__cards-right {
    width: 18rem;
    margin: auto;
    margin-top: 2rem;
  }
}
.section-features__graphic {
  animation-name: opacity;
  animation-duration: 5s;
  animation-iteration-count: infinite;
}

/*# sourceMappingURL=main.css.map */
