.header{
 background-image: url('../img/bg-hero.svg');
 background-repeat: no-repeat;
 background-size: cover;
 background-position: center;
 height: 50rem;
 width: 100%;
}

.header__info{
  display: flex;
  flex-direction: column;
  width: 25rem;
  padding-top: 5rem;
  padding-left: 5rem;
}

.header__info-text{
  margin-top: .5rem;
}
