.navigation{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  height: 5rem;
}

.navigation__logo{
  height: 55%;
  margin-left: 5rem;
  margin-top: .5rem;
}

.navigation__menu{
  display: flex;
  flex-grow: 1;
}

.navigation__button{
  margin-right: 4rem;
  margin-top: 1.5rem;
}

.navigation__item{
  margin-left: 2rem;
  margin-top: 1.5rem;
}

.navigation__buttom-white{
  margin-right: 1rem;
  color: $raising-black;
}

a {
  text-decoration: none;
}

.navigation__hamburger{
  margin-top: 1rem;
  margin-left: 10rem;
}
