.section-features__title{
  text-align: center;
}

.section-features{
  padding-bottom: 1rem;
  width: 100%
}

.section-features__container{
  display: flex;
  flex-direction: row;
  padding-top: 4rem;
  justify-content: center;
}

.section-features__info{
  padding-top: 6rem;
  width: 25rem;
  margin-left: 3rem;
  position: relative;
}

.section-features__info-text{
  margin-top: .5rem;
}

.section-features__graphic{
  margin: 3rem;
}



// Mediaqueries para features en columnas
@media (max-width: 768px) {
  .section-features{
    padding-bottom: 0rem;
  }

  .section-features__container {
    flex-direction: column;
  }

  .section-features__info {
    padding-top: .3rem;
    padding-bottom: 0;
    width: auto;
  }
  svg{
    margin: auto;



  }
  .section-features__graphic{
    margin-left: 1rem;
    margin-bottom: 2rem;
  }
}
