.section-prices{
 background-image: url('../img/bg-price.svg');
 background-repeat: no-repeat;
 background-size: cover;
 background-position: center;
 height: 50rem;
 width: 100%;
 margin-top: 6rem;
}

.section-prices__title{
  text-align: center;
  padding-top: 12rem;
  color: $white;
}

@media (max-width: 768px) {
  .section-prices {
    height:80rem;
    margin-top: 0;
  }
  .section-prices__title  {
    padding-bottom: 1rem;
  }
}
